#root {
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.gantt{
  position: relative;
  width: 95vw;
  height: 70vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
  
  
}
.divForStuff{
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkbutton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-right: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #DEB992;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center; /* Align button content vertically */
}
.heading{
  font-family: Helvetica;
  font: Helvetica;
  padding-top: 10px;
  text-align: left;
  display: flex;
  
}
