:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F4F1E7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-right: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1BA098;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  border:none;
  background-color: white;
  color: black;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;  
  /* right:9px; */
  /* border-radius:22px; */
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}

textarea{
  border:none;
  outline:none;
  background-color: white;
  color: black;
  display:inline-block;
  height:150px;
  vertical-align:middle;
  position:relative; 
  right:9px;
  border-radius:22px;
  width:360px;
  box-sizing:border-box;
  padding:0 18px; 
}

input::placeholder{
  color: black;
}

textarea::placeholder{
  padding-top: 3%;
  color: black;
}
textarea:invalid {
  padding: 2%;
}

textarea:valid {
  padding: 2%;
}

.task-box {
  background-color: #1BA098;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
  color: black;
  display: block;
}

.task-box.past-due {
  background-color: #BD7676;
}

.task-box strong {
  display: block;
  margin-bottom: 5px;
}

.task-box em {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
}

.card {
  padding: 2em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
}
